* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas {
  width: 650px;
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 4px solid black;
  aspect-ratio: 1/1;
}

.pixel {
  background-color: black;
  flex-grow: 1;

  user-select: none;
}
